html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Inter;
    padding: 0;
    line-height: 1.6;
    margin: 0;
    box-sizing: 0;
    background-color: #e5e5e5;
    width: 100%;
}

/* 
search_bar 
*/
.top-bar {
    background-color: #E5E5E5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 40px;
    margin-left: auto;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.about-us {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* 
header
 */
.header {
    background-color: #14213D;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: white;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    height: calc(100vh - 120px);
    background-color: white;
}

.sidebar {
    width: 320px;
    background: #e5e5e5;
    color: #14213D;
    padding: 20px;
    font-size: 14px;
}

.sidebar h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.course-title {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.course-title img {
    width: 80px;
}

.subject {
    font-weight: 700;
}

.subject h1 {
    margin: 0;
    font-size: 30px;
    padding-top: 10px;
}

.subject h2 {
    font-size: 22px;
    margin: 0;
}

.sidebar hr {
    margin-top: 20px;
    border-color: #14213D;
    width: 300px;
    border-width: 3px;
    padding-left: 20px;
}

.menu {
    margin-top: 15px;
}

.menu-item {
    margin-top: 10px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item span {
    font-weight: 700;
    font-size: 24px;
    height: 32px;
}

/* .menu-item ul {
    list-style: none;
    padding-left: 15px;
}

.menu-item ul li {
    margin: 5px 0;
    font-size: 13px;
    cursor: pointer;
}

.menu-item ul li:hover {
    text-decoration: underline;
} */

.content {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#download {
    width: 750px;
    height: 82px;
    top: 220px;
    left: 526px;
    background-color: #fca311;
    border-radius: 25px;
    position: absolute;
    display: flex;
    gap: 20px;
}

#download a {
    padding-top: 20px;
    padding-left: 260px;
    margin: 0;
    font-size: 27px;
    font-weight: 700;
    color: #14213D;
    text-decoration: none;
}

#download img {
    height: 60px;
    padding-top: 10px;
}

footer{
    background-color:#14213D ;
    text-align: center;
    padding: 12px;
}