html, body {
    height: 100%;
    margin: 0;
}
/* body {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    padding: 0;
    line-height: 1.6;
    margin: 0;
    box-sizing: 0;
    background-color: #e5e5e5;
    width: 100%;
}

header {
    color: white; 
    text-align: center;
}

.top-bar {
    background-color: #e0e0e0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 40px;
    margin-left: auto;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.about-us {
    text-decoration: none;
    color: black;
    margin: 20px;
}

#webhead {
    width: 100%;
    height: 124px;
    top: 83px;
    background-color: #14213d;
    display: inline-block;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

#webhead img {
    height: 80px;
    padding-left: 3%;
}

#webhead nav {
    list-style: none;
    padding-right: 20px;
    display: flex;
    gap: 20px;
}

#webhead nav a {
    width: 72;
    height: 37;
    top: 127;
    left: 765;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

#webhead nav a:hover {
    text-decoration: underline;
}

#webhead nav b {
    font-weight: 800;
    font-size: 20px;
} */
body {
    font-family: Inter;
    padding: 0;
    line-height: 1.6;
    margin: 0;
    box-sizing: 0;
    background-color: #e5e5e5;
    width: 100%;
}

/* 
search_bar 
*/
.top-bar {
    background-color: #E5E5E5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 40px;
    margin-left: auto;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.about-us {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* 
header
 */
.header {
    background-color: #14213D;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: white;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* 
main
 */
.selection{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
    justify-content: center;
    
}
/* 
.autocomplete {
    padding: 40px;
} */

.selection input{
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 40px;
    margin: 10px;
}

.selection button {
    background-color: #14213D;
}

/* #major {
    width: 100%;
} */

.suggestions {
    position: absolute;
    width: 350px;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.suggestions div input{
    width: 300px;
}

.suggestions div:hover, .suggestions .selected {
    background: #f0f0f0;
}

.text_selection{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
}

#load{
    text-align: center;
}


/* 
footer
*/
footer{
    margin-top: auto;
    background-color:#14213D ;
    text-align: center;
    padding: 12px;
}