*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    /* background-color: #E5E5E5; */
}

body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: inter;
    background-color: #E5E5E5;
}

/* 
search_bar
 */
.top-bar {
    background-color: #E5E5E5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 40px;
    margin-left: auto;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.about-us {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* 
header
 */
.header {
    background-color: #14213D;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* 
main
 */
.selection{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
    justify-content: center;
    
}

.selection input{
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 40px;
    margin: 10px;
}

.text_selection{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
}

#load{
    text-align: center;
}


/* 
footer
*/
footer{
    background-color:#14213D ;
    text-align: center;
    padding: 12px;
}